fastapi>=0.100.0
uvicorn>=0.23.0
langgraph>=0.0.30
langchain>=0.1.0
langchain-community>=0.0.30
python-dotenv>=1.0.0
pydantic>=2.0.0
langchain-openai>=0.1.0

# RAG
langchain-chroma
langchain-huggingface
chromadb
pypdf
sentence-transformers

#
aiosqlite
tavily-python
